.textBox{
    display: flex;
  }
  
  .col-md-6{
      border: 1px solid black;
      width: 50%;
      height: 500px;
      text-align: center;
      font-size: larger;
      text-decoration: underline;
      
    }